Screen, Screen > VerticalScroll{
    height: 100%;
    align: center middle;
}

Button{
    width: 40;
}

Screen > Static, Screen > VerticalScroll > Static{
    border: wide white;
    width: auto;
}

Header{
    align: center top;
    dock: top;
}
