Screen, Screen > VerticalScroll{
    height: 100%;
    width: 100%;
    align: center middle;
}

HorizontalGroup{
    height: auto;
    width: auto;
    align: center middle;
}

Button{
    width: 40;
}

Select{
    width: 25;
}

Screen > VerticalScroll > HorizontalGroup > Input{
    width: auto;
}

Screen > Static, Screen > VerticalScroll > Static{
    border: wide white;
    width: auto;
}

Header{
    align: center top;
    dock: top;
}
